.primary {
    color: orangered;
}

.font-style {
    font-size: 72px;
}

.center-align {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}